
body {
  style="background-color:#def4f0;"
}
hr {
  /*background-color: white;*/
  border-style: none;
  border-top: 3px dotted gray;
  border-width: 10px;

  /*border-style: dotted;
  height: 0px;*/
  width: 10%;
}
H1{color: #66bfbf}
H3{color: #66bfbf}
